/*Badge form*/
.badge-form-container {
	max-height: 25rem;
	min-width: 40%;
	background-color: ivory;
	margin: auto;
	padding: 1rem;
	background: linear-gradient(to right, #a80d27, #160422);
	border: 0.1rem solid black;
	color: white;
	border-radius: 1rem;
	box-shadow: 0.5rem 0.5rem 0.5rem 1rem firebrick;
}

/*badge form*/
.badge-form {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

/*label text*/
label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

/*input*/
input {
	margin: 0 auto;
	margin-bottom: 1rem;
	background-color: rgba(255, 255, 255, 0.4);
	min-width: 70%;
	padding: 0.1rem;
	border-radius: 1rem;
}

/*button*/
button {
	padding: 0.3rem 1rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}
