/*badge styles*/
.badge {
	background-color: rgba(36, 37, 42, 1);
	max-width: 50%;
	margin: auto;
	border: 0.1rem solid black;
	color: white;
}

/*header*/
.badge_header {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	border-bottom: 0.1rem solid black;
}

/*logo*/
.badge_header img {
	max-width: 20%;
}

/*header name*/
.badge_section-name {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

/*header info*/
.badge_section-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

/*header avatar*/
.badge_avatar {
	border-radius: 50%;
	margin-right: 1rem;
	width: 6rem;
	height: 6rem;
	border: 0.1rem white solid;
}

/*header footer*/
.badge_footer {
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-style: italic;
	border-top: 0.1rem solid black;
}
