/*Badge form*/
.badge-form-container {
	max-height: 25rem;
	min-width: 40%;
	margin: auto;
	padding: 1rem;
	background: linear-gradient(to right, #a80d27, #160422);
	border: 0.1rem solid white;
	color: white;
	border-radius: 1rem;
	box-shadow: 0.5rem 0.5rem 0.5rem 1rem firebrick;
	grid-area: form;
}

/*badge form*/
.badge-form {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

/*label text*/
label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

/*input*/
input {
	margin: 0 auto;
	margin-bottom: 1rem;
	background-color: rgba(255, 255, 255, 0.4);
	min-width: 70%;
	padding: 0.1rem;
	border-radius: 1rem;
}

/*button*/
button {
	padding: 0.3rem 1rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

/*query small an medium mobiles*/
@media screen and (min-width: 320px) and (max-width: 424px) {
	/*badge form container*/
	.badge-form-container {
		max-height: 35rem;
		min-width: 70%;
		box-shadow: 0.5rem 0.5rem 0.5rem 1rem purple;
		grid-area: form;
	}

	/*badge form*/
	.badge-form {
		padding: 3rem;
	}

	/*label*/
	label {
		font-size: 1.5rem;
	}

	/*input*/
	input {
		padding: 0.5rem;
	}

	/*button*/
	button {
		padding: 0.5rem 3.5rem;
		border-radius: 0.5rem;
	}
}

/*query large mobiles*/
@media screen and (min-width: 425px) and (max-width: 767px) {
	/*badge form container*/
	.badge-form-container {
		padding: 5rem;
		box-shadow: 0.5rem 0.5rem 0.5rem 1rem palevioletred;
		grid-area: form;
	}

	/*button*/
	button {
		padding: 0.2rem 3rem;
		border-radius: 0.5rem;
	}
}
