/*badge styles*/
.badge {
	background: linear-gradient(to right, #c31432, #240b36);
	max-width: 45%;
	margin: 1rem auto;
	border: 0.1rem solid white;
	color: white;
	border-radius: 1rem;
	box-shadow: 0.5rem 0.5rem 0.5rem 1rem blue;
	grid-area: badge;
}

/*header*/
.badge_header {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	border-bottom: 0.1rem solid black;
}

/*logo*/
.badge_header img {
	max-width: 20%;
}

/*header name*/
.badge_section-name {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

/*header info*/
.badge_section-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

/*header avatar*/
.badge_avatar {
	border-radius: 50%;
	margin-right: 1rem;
	width: 6rem;
	height: 6rem;
	border: 0.1rem white solid;
}

/*header footer*/
.badge_footer {
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-style: italic;
	border-top: 0.1rem solid black;
}

/*query small an medium mobiles*/
@media screen and (min-width: 320px) and (max-width: 375px) {
	/*badge styles*/
	.badge {
		margin-top: 5rem;
		max-width: 70%;
		box-shadow: 0.5rem 0.5rem 0.5rem 1rem orange;
		grid-area: badge;
	}
}
