/*list container*/
.list-container {
	width: 50%;
}

/*list*/
.list {
	width: 100%;
	list-style-type: none;
}

/*list element*/
.list li {
	background: linear-gradient(to right, #345886f1, #160422);
	box-shadow: 0.5rem 0.5rem 0.5rem firebrick;
	margin: 1rem;
	display: flex;
	align-items: center;
	margin: 1.5rem 1rem;
}

/*lis info*/
.list-info {
	padding: 1rem;
	color: white;
}

/*span*/
.list-info span {
	color: wheat;
}

/*figure*/
.list figure {
	display: flex;
	align-items: center;
	padding: 1rem;
}

/*img*/
.list figure img {
	border-radius: 2rem;
}

/*twitter*/
.fa-twitter {
	color: #1da1f2;
	display: inline-flex;
}

/*button container*/
.button-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

/*button*/
.button-container .button {
	padding: 0.5rem 2rem;
	color: white;
	font-size: 1.2rem;
	background: rgba(0, 0, 0, 0.5);
	margin-right: 1rem;
	border-radius: 1rem;
}

/*button hover*/
.button-container .button:hover {
	background: rgba(0, 0, 0, 0);
	border: 0.01rem solid white;
	transition: 0.2s;
}

/*small devices*/
@media screen and (min-width: 320px) and (max-width: 374px) {
	/*list container*/
	.list-container {
		width: 100%;
	}

	/*list element*/
	.list li {
		box-shadow: 0.5rem 0.5rem 0.5rem darkturquoise;
		margin: 1.5rem 1rem;
	}
	/*figure*/
	.list figure {
		padding: 1rem;
		width: 100%;
	}

	/*img*/
	.list figure img {
		width: 100%;
		border-radius: 2rem;
	}
}

/*medium devices*/
@media screen and (min-width: 375px) and (max-width: 424px) {
	/*list container*/
	.list-container {
		width: 90%;
	}

	/*list element*/
	.list li {
		box-shadow: 0.5rem 0.5rem 0.5rem forestgreen;
		margin: 1.5rem 1rem;
	}
	/*figure*/
	.list figure {
		padding: 1rem;
	}

	/*img*/
	.list figure img {
		width: 85%;
		border-radius: 2rem;
	}
}

/*large devices*/
@media screen and (min-width: 425px) and (max-width: 767px) {
	/*list container*/
	.list-container {
		width: 65%;
	}

	/*list element*/
	.list li {
		box-shadow: 0.5rem 0.5rem 0.5rem yellow;
		margin: 1.5rem 1rem;
	}
	/*figure*/
	.list figure {
		padding: 1rem;
	}

	/*img*/
	.list figure img {
		width: 85%;
		border-radius: 2rem;
	}
}

/*tablet devices*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	/*list container*/
	.list-container {
		width: 50%;
	}

	/*list element*/
	.list li {
		box-shadow: 0.5rem 0.5rem 0.5rem paleturquoise;
		margin: 1.5rem 1rem;
	}
	/*figure*/
	.list figure {
		padding: 1rem;
	}

	/*img*/
	.list figure img {
		width: 85%;
		border-radius: 2rem;
	}
}

/*small desktop devices*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	/*list container*/
	.list-container {
		width: 50%;
	}

	/*list element*/
	.list li {
		box-shadow: 0.5rem 0.5rem 0.5rem violet;
		margin: 1.5rem 1rem;
	}
	/*figure*/
	.list figure {
		padding: 1rem;
	}

	/*img*/
	.list figure img {
		width: 85%;
		border-radius: 2rem;
	}
}
