/*hero*/
.hero {
	padding: 2rem;
}

/*hero text*/
#title {
	color: #fff;
	text-align: center;
	font-family: Lato;
	font-weight: 300;
	font-size: 2rem;
	letter-spacing: 10px;
}

#title span {
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #38495a;
}
